@mixin bg($clr-orange, $clr-white) {
   background-color: $clr-orange;
   color: $clr-white;
   border-radius: 8px;
}

@mixin border($clr-orange) {
   border: 1px solid $clr-orange;
   color: $clr-orange;
   border-radius: 8px;
}

@mixin title($clr-black) {
   font-weight: 700;
   font-size: 36px;
   line-height: calc(50 / 36 * 100%);
   color: $clr-black;
}

@mixin sub-title($clr-grey) {
   max-width: 450px;
   font-weight: 300;
   font-size: 17px;
   line-height: calc(30 / 17 * 100%);
   color: $clr-grey;
}
