.page {
   &__main-block {
      padding-bottom: $pb150px;
   }
   &__new-way {
      padding-bottom: $pb150px;
   }
   &__catalog {
      padding-bottom: $pb150px;
   }
   &__guide {
      padding-bottom: $pb150px;
   }
   &__feedback {
      padding-bottom: $pb150px;
   }
   &__trend {
      padding-bottom: $pb150px;
   }
   &__review {
      padding-bottom: $pb100px;
   }
   &__trend {
      padding-bottom: $pb100px;
   }
}
