.page {
   &__main-block {
      padding-bottom: $pb100px;
   }
   &__new-way {
      padding-bottom: $pb100px;
   }
   &__catalog {
      padding-bottom: $pb100px;
   }
   &__guide {
      padding-bottom: $pb100px;
   }
}
