@import "_variable";
@import "_mixin";
@import "nullstyle/_nullstyle";
@import "hd-ft/_header";
@import "hd-ft/_footer";
@import "_page";
@import "main/_main-block";
@import "main/_new-way";
@import "main/_catalog";
@import "main/_guide";
@import "main/_review";
@import "main/_trend";

@font-face {
   font-family: Mulish-light;
   src: url(../fonts/Mulish/static/Mulish-Light.ttf);
}
@font-face {
   font-family: Mulish-italic;
   src: url(../fonts/Mulish/static/Mulish-Italic.ttf);
}


body {
   font-family: "Playfair Display";
}

.container {
   max-width: 1330px;
   padding: 0 10px;
   margin: 0 auto;
}

//  .ibg {
//     position: relative;
//     &img {
//        position: absolute;
//        width: 100%;    height: 100%;
//        top: 0;
//        left: 0;
//        object-fit: cover;
//     }
//  }

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex; // проверить
   flex-direction: column;
}

.border {
   @include border($clr-orange);
}

.bg {
   @include bg($clr-orange, $clr-white);
}

.title {
   @include title($clr-black);
}

.sub-title {
   @include sub-title($clr-grey);
}


