@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header {
  width: 100%;
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
}
.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
  padding: 5px 0;
}
.header__menu {
  margin: 0 0 0 40%;
}
.header__buttons {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.header__button {
  /*-------------------------
  Центрируем весь контент в кнопке
  */
  display: flex;
  justify-content: center;
  align-items: center;
  /*-------------------------*/
  min-height: 44px;
  padding: 5px 36px;
  font-weight: 500;
  font-size: 15px;
}
.header__button:first-child {
  margin: 0px 18px 0px 0px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}
.menu__item {
  margin: 0px 35px 0px 0px;
}
.menu__link {
  color: #b8becd;
  font-weight: 500;
  line-height: 119%;
}
.menu__link:active {
  color: #202336;
}

.page__main-block {
  padding-bottom: 150px;
}
.page__new-way {
  padding-bottom: 150px;
}
.page__catalog {
  padding-bottom: 150px;
}
.page__guide {
  padding-bottom: 150px;
}
.page__feedback {
  padding-bottom: 150px;
}
.page__trend {
  padding-bottom: 150px;
}

.main-block__container {
  display: flex;
}
.main-block__body {
  padding: 200px 0px 0px 0px;
}
.main-block__body > *:not(last-child) {
  margin: 0px 0px 50px 0px;
}
.main-block__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 125%;
  color: #202336;
  max-width: 356px;
}
.main-block__sub-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 122.7272727273%;
  color: #202336;
}
.main-block__form {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}
.main-block__category {
  width: 40%;
  padding: 5px 120px 5px 30px;
  border: 1px solid #AFB0B9;
  border-radius: 6px;
  font-weight: 400;
  font-size: 15px;
  line-height: 213.3333333333%;
  color: #4A4C53;
}
.main-block__button {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.main-block__link {
  /*-------------------------
  Центруем весь контент в кнопке
  */
  display: flex;
  justify-content: center;
  align-items: center;
  /*-------------------------*/
  min-height: 44px;
  padding: 5px 60px;
  font-weight: 500;
  font-size: 15px;
}
.main-block__image {
  padding: 100px 0px 0px 0px;
}

.new-way__container {
  display: flex;
  align-items: center;
}
.new-way__body {
  padding: 0px 0px 0px 16%;
}
.new-way__body > *:not(last-child) {
  margin: 0px 0px 30px 0px;
}
.new-way__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 375%;
  padding: 5px 60px;
}

.catalog__wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 0 56px 0;
}
.catalog__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 138.8888888889%;
  color: #202336;
}
.catalog__link {
  color: #fb8f1d;
  font-weight: 600;
  font-size: 17px;
  line-height: 352.9411764706%;
}
.catalog__link > img {
  vertical-align: baseline;
  margin-left: 0.7rem;
}
.catalog__body {
  display: flex;
  justify-content: space-between;
}

.guide__container {
  display: flex;
  align-items: center;
}
.guide__body {
  padding: 0 23% 0 0;
}
.guide__body > *:not(last-child) {
  margin: 0px 0px 30px 0px;
}
.guide__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 375%;
  padding: 5px 40px;
}

.feedback__container {
  display: flex;
  align-items: center;
}
.feedback__body {
  padding: 0px 36% 0 0;
}
.feedback__body > *:not(:last-child) {
  margin: 0 0 20px 0;
}
.feedback__sub-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #202336;
}
.feedback__info > h4 {
  font-weight: 700;
  font-size: 22px;
  line-height: 218.1818181818%;
  color: #202336;
}
.feedback__info > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 266.6666666667%;
}

body {
  font-family: "Playfair Display";
}

.container {
  max-width: 1330px;
  padding: 0 10px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.border {
  border: 1px solid #fb8f1d;
  color: #fb8f1d;
  border-radius: 8px;
}

.bg {
  background-color: #fb8f1d;
  color: #FFFFFF;
  border-radius: 8px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 138.8888888889%;
  color: #202336;
}

.sub-title {
  font-weight: 300;
  font-size: 17px;
  line-height: 176.4705882353%;
  color: #b8becd;
}/*# sourceMappingURL=style.css.map */