.catalog {
   &__container {
      // some code
   }
   &__wrap {
      display: flex;
      justify-content: space-between;
      padding: 0 0 56px 0;
   }
   &__title {
      font-weight: 700;
      font-size: 36px;
      line-height: calc(50 / 36 * 100%);
      color: $clr-black;
   }
   &__button {
   }
   &__link {
      color: $clr-orange;
      font-weight: 600;
      font-size: 17px;
      line-height: calc(60 / 17 * 100%);
      & > img {
         vertical-align: baseline;
         margin-left: 0.7rem;
      }
   }
   &__body {
      display: flex;
      justify-content: space-between;
   }
   &__image {
   }
}
